.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.xml
*.yaml
*.egg-info/
dist/
build/
src/blimputils/__pycache__/
src/blimputils/*.pyc
src/blimputils/*.pyo
src/blimputils/*.pyd
src/blimputils/*.db
src/blimputils/*.sqlite3
src/blimputils/*.log
src/blimputils/*.csv
src/blimputils/*.json
src/blimputils/*.xml
src/blimputils/*.yaml
src/blimputils/*.yml
src/blimputils/*.egg-info/
src/blimputils/magnetometer_old.py
collect_magnetometer_data.py
functional_bmm350_lib.py
more_functional_1.py
pi_calculate_calibration.py
plot_calibration_data.py
source_libraries/
test_import.py
